.parentContainer{
  height:100vh;
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.childtContainer{
  height:50%;
  width: 50%;
  background-color: rgba(165, 209, 245, 0.626);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.409);
}


@media only screen and (max-width: 600px) {
  .childtContainer{
    height:80%;
   overflow: scroll;
  }
}

@media (max-height: 690px) {
  .childtContainer{
    height:80%;
    overflow-y:scroll ;
  }
}